<header class="p-3 bg-dark text-white">
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
  >
    <a
      class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
    >
      <img
        src="{{ imagePath }}"
        alt="Super Barber Logo"
        width="50"
        height="50"
      />
    </a>

    <ul
      class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
    >
      <li>
        <a
          class="nav-link px-2 text-secondary"
          routerLink="/"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
      <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
      <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul>

    <div *ngIf="!showProfile" class="text-end">
      <button
        type="button"
        routerLink="/login"
        class="btn btn-outline-light me-2"
      >
        Login
      </button>
      <button type="button" class="btn-sign-up">Sign-up</button>
    </div>
    <div *ngIf="showProfile">
      <div class="d-flex p-3">
        <i class="bell bi bi-bell"></i>
        <div *ngIf="notificationsCount > 0" class="badge">
          {{ notificationsCount }}
        </div>
      </div>
    </div>
    <div *ngIf="showProfile" class="dropdown text-end">
      <a
        href="#"
        class="d-block link-dark text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt="mdo"
          width="32"
          height="32"
          class="rounded-circle"
        />
      </a>
      <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</header>
