<div class="row">
  <div class="col-md-4 mt-3" *ngFor="let barberShop of barberShops">
    <div class="card mb-4 shadow-sm">
      <!-- Card Header -->
      <img
        [src]="getImageUrl(barberShop.id)"
        class="card-img-top"
        alt="{{ barberShop.name }} Image"
      />

      <div class="card-body">
        <h5 class="card-title">{{ barberShop.name }}</h5>
        <p class="card-text">
          <strong>Address:</strong> {{ barberShop.address }}
        </p>

        <p class="card-text">
          <strong>Rating:</strong>
          <span class="text-warning ms-1">
            <ng-container *ngFor="let star of getRatingStars(barberShop)">
              <i
                class="bi"
                [ngClass]="{
                  'bi-star-fill': star.fill,
                  'bi-star-half': star.half,
                  'bi-star': !star.fill && !star.half
                }"
              ></i>
            </ng-container>
          </span>
          {{ barberShop.averageRating }}
        </p>

        

        <!-- View Details Button -->
        <a
          [routerLink]="['/barber-shop', barberShop.id]"
          class="btn btn-primary btn-block"
        >
          View Details
        </a>
      </div>
    </div>
  </div>
</div>
