<div class="row mb-3">
  <div class="col-md-6">
    <label for="startHour" class="form-label">Start Hour</label>
    <ng-select
      [(ngModel)]="startTime"
      [ngModelOptions]="{ standalone: true }"
      [searchable]="false"
      id="startHour"
      (change)="timeSelected()"
    >
      <ng-option *ngFor="let hour of startHours" [value]="hour">
        {{ hour }}
      </ng-option>
    </ng-select>
  </div>

  <div class="col-md-6">
    <label for="endHour" class="form-label">End Hour</label>
    <ng-select
      [(ngModel)]="endTime"
      [ngModelOptions]="{ standalone: true }"
      [searchable]="false"
      id="endHour"
      (change)="timeSelected()"
    >
      <ng-option *ngFor="let hour of endHours" [value]="hour">
        {{ hour }}
      </ng-option>
    </ng-select>
  </div>
</div>
