<div class="row">
  <form class="form-group col-md-3" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <legend>Find a barber shop</legend>
    <div class="mb-3">
      <label for="city" class="form-label">Select a city</label>
      <ng-select
        placeholder="Search for a city"
        [(ngModel)]="selectedCity"
        [ngModelOptions]="{ standalone: true }"
        [searchable]="true"
        [loading]="cityLoading"
        id="city"
      >
        <ng-option *ngFor="let city of cities" [value]="city">{{
          city.name
        }}</ng-option>
      </ng-select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
